/* COLORS */
$clouds: #ECF0F1;
$silver: #BDC3C7;
$gallery: #EEEEEE;
$iron: #DADFE1;

$concrete: #95A5A6;
$asbestos: #7F8C8D;
$pumice: #D2D7D3;
$lynch: #6C7A89;

$hoki: #67809F;
$midnightBlue: #2C3E50;
$wetAsphalt: #34495e;
$ebonyClay: #22313F;

$turquoise: #1abc9c;
$greenSea: #16a085;
$mediumTurquoise: #4ECDC4;
$lightSeaGreen: #1BA39C;
$emerald: #2ecc71;
$nephritis: #27ae60;
$gossip: #87D37C;
$salem: #1E824C;

$peterRiver: #3498D8;
$belizeHole: #2980b9;
$riptide: #86E2D5;
$dodgerBlue: #19B5FE;

$amethyst: #9b59b6;
$wisteria: #8e44ad;
$lightWisteria: #BE90D4;
$plum: #913D88;

$sunflower: #F1C40F;
$tangerine: #F39C12;
$confetti: #E9D460;
$capeHoney: #FDE3A7;

$carrot: #E67E22;
$pumpkin: #D35400;
$ecstasy: #F9690E;
$jaffa: #F27935;

$alizarin: #E74C3C;
$pomegranate: #C0392B;
$monza: #CF000F;
$thunderbird: #D91E18;
